* {
    box-sizing: border-box;
}

html {
    background-color: black;
    margin: 30px;

}

.card {
    border: 2px solid lightblue;
    box-shadow: 10px 10px 12px 12px lightblue;
    /* justify-content: center; */
    /* display: flex; */
    border-radius: 10px;
    margin: 30px;
    width: 500px;
    height: 56vh;
}

#img {
    width: 500px;
    /* justify-content: center; */
    border: 2px solid burlywood;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 12px burlywood;
    height: 60vh;
    margin-left: 80px;
    margin-top: 30px;
    padding: 20px;
    display: flex;

    justify-content: center;   
}

#btn {
    width: 60px;
    height: 5vh;
    color: gray;
    border: 5px solid brown;
    box-shadow: 2px 3px 12px  brown;
    border-radius: 5px;

}
.title{
    color:bisque ;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
}
